/* reset */
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style: none;
}

/* --------------- */

a:hover {
    color: blue; /* Change color on hover */
  }
  /* For buttons */
  .btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add box shadow on hover */
  }